.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background: url(img/top01.jpg) no-repeat center center;
    background-size: cover;
}

.jumbotron-container {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.top-text {
    margin-bottom: 30px;
    font-size: 40pt;
}

.section-title {
    text-align: center;
}

.main-text {
    font-size: 15pt;
}

.main-list {
    margin: 5px;
}

.profile-img {
    text-align: center;
}