body {
    font-size: 1.2em;
    background-image: url(img/background04.png);
    background-attachment: fixed;
    color: #4e5966;
}

.contact-btn {
    color: white;
    background-color: #88c9ba;
    padding: 10px 30px;
    border-radius: 3px;
}
.contact-btn:hover {
    color: white;
    background-color: cadetblue;
    text-decoration: none;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 0.9em;
}

.nav-extend {
    background-color: rgba(255,255,255,0.5);
    font-size: 1.5em;
}

.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background: url(img/top01.jpg) no-repeat center center;
    background-size: cover;
}

.jumbotron-container {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.top-text {
    margin-bottom: 30px;
    font-size: 2.5em;
}

.section-title {
    text-align: center;
}

.main-list {
    margin: 5px;
}

.profile-img {
    text-align: center;
}































.work-modal {
    cursor: pointer;
}

.cp_modal_bg01,
.cp_modal_bg02,
.cp_modal_bg03 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    transition: background-color 250ms linear;    
}

.cp_modal_cont01,
.cp_modal_cont02,
.cp_modal_cont03 {
    position: fixed;
    top: 5%;
    left: 2.5%;
    width: 95%;
    height: 90%;
    overflow-y: scroll;
    padding: 30px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform 250ms ease;
    visibility: hidden;
    z-index: 20;
}

.cp_close {
    position: relative;
    float: right;
    font-size: 18px;
    transition: transform 500ms ease;
    z-index: 11;
}

.cp_close:hover {
    color: #da3c41;
    transform: rotate(180deg);
}

.modal-header {
    position: relative;
    display: block;
    border-bottom: 1px solid #00bcd4;
    margin-bottom: 1.5em;
}

.modal-title {
    margin: 0 0 10px;
    padding: 0;
    font-size: 28px;
}

.cp_modal_cont01 article,
.cp_modal_cont02 article,
.cp_modal_cont03 article {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.75;
}

.cp_modal_cont01 footer,
.cp_modal_cont02 footer,
.cp_modal_cont03 footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
}

.cp_modal_cont01 footer .cp_btn,
.cp_modal_cont02 footer .cp_btn,
.cp_modal_cont03 footer .cp_btn {
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
}

.cp_modal_cont01 footer .cp_btn.cp_cl,
.cp_modal_cont02 footer .cp_btn.cp_cl,
.cp_modal_cont03 footer .cp_btn.cp_cl {
    cursor: pointer;
    background-color: #da3c41;
}

.cp_modal_cont01 footer .cp_btn.cp_cl:hover,
.cp_modal_cont02 footer .cp_btn.cp_cl:hover,
.cp_modal_cont03 footer .cp_btn.cp_cl:hover {
    opacity: 0.8;
}

#cp_modal01,
#cp_modal02,
#cp_modal03 {
    display: none;
}

#cp_modal01:checked ~ .cp_modal_bg01,
#cp_modal02:checked ~ .cp_modal_bg02,
#cp_modal03:checked ~ .cp_modal_bg03 {
    visibility: visible;
    background-color: #000000;
    opacity: 0.7;
    transition: background-color 250ms linear;
}

#cp_modal01:checked ~ .cp_modal_cont01,
#cp_modal02:checked ~ .cp_modal_cont02,
#cp_modal03:checked ~ .cp_modal_cont03 {
    visibility: visible;
    transform: scale(1);
    transition: transform 250ms ease;
    z-index: 111;
}

.link-icon {
    font-size: 2.0em;
    color: black;
}

.link-icon:hover {
    color: black;
}






.skill-box {
    margin: 15px 2.5px 15px 2.5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.22);
}

.skill-box-title {
    font-size: 1.2em;
    background: #8f7758;
    padding: 5px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.skill-box-child {
    padding: 15px 7px 15px 3px;
    font-size: 0.9em;
}

.skill-box-child .row {
    padding: 3px 0px 3px 0px;
}

.star i {
    font-size: 0.8em;
    /* color: #fc6530; */
    color: #c22b54;
}

.contact-text {
    text-align: center;
}

.contact-link {
    margin: 0px 5px 0px 5px;
    color: #88c9ba;
    text-decoration: none;
}

.contact-link:hover {
    color: cadetblue;
    text-decoration: none;
}

.footer-copyright {
    text-align: center;
    font-size: 0.7em;
    padding: 40px 0px 5px 0px;
}















.navi-link {
    color: #040404;
    text-decoration: none;
}

/*ハンバーガーボタン*/
.el_humburger {
    position: fixed;
    top: 45px;
    right: 60px;
    width: 46px;
    height: 25px;
    padding-top: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0px;
    z-index: 20;
    cursor: pointer;
    pointer-events: auto;
    color: #000;
    text-align: center;
}
   
@media screen and (max-width: 840px) {
    .el_humburger {
        display: block;
        right: 0;
        top: 0;
        padding-top: 20px;
        width: 70px;
        height: 70px;
    }
    #factory .el_humburger {
        display: none;
    }
}
   
.el_humburger_wrapper {
    margin-bottom: 5px;
    width: 42px;
    display: inline-block; 
}
   
@media screen and (max-width: 840px) {
    .el_humburger_wrapper {
        margin-bottom: 5px;
        width: 30px;
    }
}
   
.el_humburger_text {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-family: "游ゴシック Medium", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}
   
.js_humburgerOpen .el_humburger_text.el_humburger_text__menu {
    display: none;
}
   
.el_humburger_text.el_humburger_text__close {
    display: none;
}
   
.js_humburgerOpen .el_humburger_text.el_humburger_text__close {
    display: block;
}
   
@media screen and (max-width: 840px) {
    .el_humburger_text {
        font-size: 10px;
        padding-top: 2px;
    }
}
   
@media screen and (max-width: 840px) {
    .el_humburger_text svg path {
        -webkit-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
        -o-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
        transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
        fill: #000;
    }
}
   
@media screen and (max-width: 840px) {
    .js_humburgerOpen .el_humburger_text svg path {
        fill: #000;
    }
}
.el_humburger span.el_humburger_bar {
    display: block;
    width: 100%;
    margin: 0 auto 9px;
    height: 1px;
    background: #000;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.el_humburger span.el_humburger_bar:last-child {
    margin-bottom: 0;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar {
    background: #000;
}

@media screen and (max-width: 840px) {
    .el_humburger span.el_humburger_bar {
        left: 0;
        top: 0;
        background: #000;
    }
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.top {
    -webkit-transform: translateY(9px) rotate(-45deg);
    -ms-transform: translateY(9px) rotate(-45deg);
    transform: translateY(9px) rotate(-45deg);
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.middle {
    opacity: 0;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.bottom {
    -webkit-transform: translateY(-11px) rotate(45deg);
    -ms-transform: translateY(-11px) rotate(45deg);
    transform: translateY(-11px) rotate(45deg);
}

.el_humburgerButton.el_humburgerButton__close {
    top: 2%;
    right: 2%;
}

.el_humburgerButton__close span.el_humburger_bar {
    display: block;
    width: 35px;
    margin: 0 auto;
    height: 4px;
    background: #000;
}

.el_humburgerButton__close span.el_humburger_bar.top {
    -webkit-transform: translateY(5px) rotate(-45deg);
    -ms-transform: translateY(5px) rotate(-45deg);
    transform: translateY(5px) rotate(-45deg);
}

.el_humburgerButton__close span.el_humburger_bar.bottom {
    -webkit-transform: translateY(-6px) rotate(45deg);
    -ms-transform: translateY(-6px) rotate(45deg);
    transform: translateY(-6px) rotate(45deg);
}

.navi {
    position: fixed;
    right: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 0;
    z-index: 3;
    padding-top: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    overflow: hidden;
}
.js_humburgerOpen .navi {
    width: 400px;
}

@media screen and (max-width: 840px) {
    .js_humburgerOpen .navi {
        width: 100%;
        padding: 100px 5% 0;
    }
}

.navi_item {
    margin-bottom: 28px;
    font-size: 20px;
    white-space: nowrap;
    margin-left: 90px;
}
.navi_item.op_innerLink {
    cursor: pointer;
}

@media screen and (max-width: 840px) {
    .navi_item {
        margin-left: 0;
        font-size: 18px;
    }
}













